---
import { Photo } from "astro-carousel";
import { getSize } from "../utils/functions";

const {
    blok: { image },
} = Astro.props;
---

<div class="about-photo">
    <Photo
        src={image.filename}
        alt=""
        width={getSize(image.filename).width}
        height={getSize(image.filename).height}
        alt=""
        widths={[360, 600]}
        loading="eager"
        aspectRatio={getSize(image.filename).width /
            getSize(image.filename).height}
    />
</div>

<style lang="scss">
    .about-photo {
        margin: auto 0;
        border: 8px solid #fff;
        background-color: #fff;
        box-shadow: 0 0 20px 1px rgb(202, 202, 202, 0.5);
        transition: transform 0.5s cubic-bezier(0.36, 0.07, 0.25, 1);
    }
</style>
