---
import Link from "./Link.astro";
const { breadcrumbs } = Astro.props;
---

<h2>
  <ul class="breadcrumb" translate="no">
    {
      breadcrumbs.map((b, i) => (
        <li class="breadcrumb__item">
          <Link href={`/${b.path}`} inactive={i < breadcrumbs.length - 1}>
            {b.name}
          </Link>
        </li>
      ))
    }
  </ul>
</h2>

<style lang="scss">
  .breadcrumb {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, max-content));
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    &__item {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      & {
        font-weight: 700;
      }
      & + & {
        &::before {
          content: "/";
          color: var(--tertiary);
          margin: 0 var(--space-3xs);
        }
      }

      &--last {
        color: var(--primary);
      }
    }
  }
</style>
