---
import { storyblokEditable } from "@storyblok/astro";
import Breadcrumbs from "./Breadcrumbs.astro";

import StoryblokImage from "./StoryblokImage.astro";

const { blok } = Astro.props;
---

<div class="entry">
  <Breadcrumbs {...Astro.props} />
  <ul class="entryList" {...storyblokEditable(blok)}>
    {
      blok.entries?.map((e, i) => {
        return (
          <li class="entryList__elem" tabindex="0">
            <StoryblokImage blok={e} preload={i < 3} />
          </li>
        );
      })
    }
  </ul>
</div>

<style lang="scss">
  .entry {
    display: grid;
    gap: var(--space-s-m);
    padding-bottom: var(--space-s-m);
  }
  .entryList {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs-s);
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (min-width: 732px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      justify-items: center;
      align-items: center;
    }
  }
</style>
