---
import { useStoryblokApi } from "@storyblok/astro";
import { getVersion } from "../utils/functions";

const { blok: { numberOfEntries } } = Astro.props;
const storyblokApi = useStoryblokApi();

// Get recent published entries
const {
  data: { stories },
} = await storyblokApi.get(
  `cdn/stories?sort_by=published_at:asc&filter_query[content][in]=Entries`,
  {
    version: getVersion(),
  }
);
---
<div>
    latest
    {numberOfEntries}
</div>