---
import { storyblokEditable } from "@storyblok/astro";
import Breadcrumbs from "./Breadcrumbs.astro";
import Carousel from "./Carousel.astro";

import StoryblokImage from "./StoryblokImage.astro";

const { blok } = Astro.props;
---

<div class="entry">
  <Breadcrumbs {...Astro.props} />
  <ul class="entry__entries" {...storyblokEditable(blok)} id="entryEntries">
    {
      blok.entries?.map((e, i) => {
        return (
          <li class="entry__elem" tabindex="0">
            <StoryblokImage
              blok={e}
              preload={i < 3}
              style={{
                maxHeight: "var(--max-height)",
              }}
              index={i}
            />
          </li>
        );
      })
    }
  </ul>
  <Carousel images={blok.entries} />
</div>

<style lang="scss" is:global>
  .entry {
    display: grid;
    gap: var(--space-s-m);
    padding-bottom: var(--space-s-m);
    &__entries {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-m);
      margin: 0;
      padding: 0;
      list-style: none;

      @media screen and (min-width: 732px) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-auto-rows: var(--max-height);
        gap: var(--space-xl);
        align-items: center;
      }
    }

    &__elem {
      &:hover {
        cursor: pointer;
      }
    }
  }
</style>
