---
const { href, active, first, ellipsis, class: className } = Astro.props;
---

<a href={href} class:list={["link", className, { ellipsis, active, first }]}>
  <slot />
</a>

<style lang="scss">
  .link {
    text-decoration: none;
    &.active {
      color: var(--secondary);
    }
    &.ellipsis {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  @keyframes color {
    to {
      color: var(--secondary);
    }
  }
</style>
