---
const { href, active, first, className } = Astro.props;
---

<a href={href} class:list={["link", className, { active, first }]}>
  <slot />
</a>

<style lang="scss">
  .link {
    text-decoration: none;
    &.active {
      color: var(--secondary);
    }
    &:hover {
      text-decoration: underline;
    }
  }

  @keyframes color {
    to {
      color: var(--secondary);
    }
  }
</style>
