---
import { t } from "i18next";
import { getImage } from "astro:assets";

const { meta, title } = Astro.props;

const capitalizeTitle = (meta?.title || title || "")
  .split(" ")
  .map((s) => s.slice(0, 1).toUpperCase() + s.slice(1))
  .join(" ");
const defaultTitle = capitalizeTitle;
const defaultDescription = meta?.description || t("description");
const defaultImage = meta?.image
  ? (await getImage({ src: meta.image, width: 1280, height: 0 }))?.src
  : "";
const defaultAlt = meta?.alt || defaultTitle;
const metaTags = [
  { name: "title", content: defaultTitle },
  { name: "description", content: defaultDescription },
  {
    property: "og:image",
    content: defaultImage,
  },
  {
    property: "og:image:alt",
    content: defaultAlt,
  },
  { property: "og:title", content: defaultTitle },
  {
    property: "og:description",
    content: defaultDescription,
  },
  {
    name: "twitter:image",
    content: defaultImage,
  },
  {
    name: "twitter:title",
    content: defaultTitle,
  },
  {
    name: "twitter:image:alt",
    content: defaultAlt,
  },
  {
    name: "twitter:descrition",
    content: defaultDescription,
  },
];
---

<>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />
  <title>{capitalizeTitle}</title>
  {
    metaTags.map((meta) => {
      return <meta {...meta} />;
    })
  }
</>
