---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)}>
  {
    blok.body?.map((blok) => (
      <StoryblokComponent {...Astro.props} blok={blok} />
    ))
  }
</section>
