---
import i18next from "i18next";
import "@fontsource/roboto";
import "../styles/global.css";
import TheHeader from "../components/TheHeader.astro";
import Meta from "../components/Meta.astro";

const { title, slug, seo } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18next.language}>
  <head>
    <Meta meta={seo} title={title} />
  </head>
  <body class="body">
    <TheHeader slug={slug} />
    <main class="main">
      <slot />
    </main>
    <style lang="scss">
      .body {
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;
        padding: var(--space-xs-s) var(--space-s-l);
        color: var(--primary);
        font-size: var(--step-0);
      }
    </style>
  </body>
</html>
